{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ app_name }}</title>
</head>
<body>
<div id='root'></div>
<script>
    const globalURLS = {
        csvFilesApi: "{% url 'api_dispatch_list'  api_name='csv_api' resource_name='csv_upload' %}",
        uploadCSV:"{% url  'csv_manager.upload'%}",
        publishCSV:"{% url  'csv_manager.publish'%}",
        csvManager: "{% url 'csv_manager.index' %}",
        layerUpload:"{% url 'layer_upload' %}",
        baseURL: "{% url 'home' %}",
        layers: "{% url 'layer_browse' %}",
        layerDetail: function (name) {
            return globalURLS.layers + name
        }
    }
</script>
<script src="{{ STATIC_URL }}csv_manager/dist/csvManager.bundle.js"></script>
<script src="{{ STATIC_URL }}csv_manager/dist/vendors-csvManager-chunk.js"></script>
</body>
</html>
